#primary_nav_wrap
{
	margin-top:100px;
	height: 60px;
	width: 960px;
	padding: 0;
	
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	padding:0
	
}

#primary_nav_wrap ul a
{
	
	display:block;
	text-align: center;
	/*background: #CBE2F4;*/
background: #f6f6f6;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}


#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: #A3C7E3;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	background: #eee;
	color: #000;
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
	
}






